
@{
    ViewData["Title"] = "InputProducts";
}

<!-- Vendor CSS -->

<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/vendor/themify-icons/themify-icons.css">
<link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/vendor/animate.css/animate.min.css">
<link rel="stylesheet" href="~/vendor/jscrollpane/jquery.jscrollpane.css">
<link rel="stylesheet" href="~/vendor/waves/waves.min.css">
@*<link rel="stylesheet" href="~/vendor/chartist/chartist.min.css">*@
<link rel="stylesheet" href="~/vendor/switchery/dist/switchery.min.css">
<link rel="stylesheet" href="~/vendor/DataTables/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendor/DataTables/Responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendor/DataTables/Buttons/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="~/vendor/DataTables/Buttons/css/buttons.bootstrap4.min.css">

<!-- Neptune CSS -->
<link rel="stylesheet" href="~/vendor/assets/css/core.css">

<style>
    .dataTables_filter {
        display: none;
    }
</style>

<div class="box box-block bg-white">
    <div class="overflow-x-auto">
        <table class="table table-striped table-bordered dataTable" id="table-5">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Description</th>
                    <th>Description 2</th>
                    <th>Stock</th>
                    <th>Cell code</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<AtomicSeller.Models.ASTCD001.StockInputProduct>)ViewBag.StockInputProducts)
                {
                <tr>
                    <td>@item.Sku</td>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.Decription
                    </td>
                    <td>
                        @item.StockValue
                    </td>
                    <td>
                        @item.CellCode
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {

    @*<script type="text/javascript" src="~/vendor/jquery/jquery-1.12.3.min.js"></script>*@
    <script type="text/javascript" src="~/vendor/tether/js/tether.min.js"></script>
    <script type="text/javascript" src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/vendor/detectmobilebrowser/detectmobilebrowser.js"></script>
    <script type="text/javascript" src="~/vendor/jscrollpane/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/vendor/jscrollpane/mwheelIntent.js"></script>
    <script type="text/javascript" src="~/vendor/jscrollpane/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="~/vendor/waves/waves.min.js"></script>
    @*<script type="text/javascript" src="~/vendor/chartist/chartist.min.js"></script>*@
    <script type="text/javascript" src="~/vendor/switchery/dist/switchery.min.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/Responsive/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/Responsive/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/Buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/Buttons/js/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/JSZip/jszip.min.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/pdfmake/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/pdfmake/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/Buttons/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/Buttons/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/vendor/DataTables/Buttons/js/buttons.colVis.min.js"></script>

    <!-- Neptune JS -->
    @*<script type="text/javascript" src="~/vendor/assets/js/app.js"></script>*@
    <script type="text/javascript" src="~/vendor/assets/js/demo.js"></script>
    <script type="text/javascript" src="~/vendor/assets/js/tables-datatable.js"></script>

    <script>
        $(document).ready(function () {

            /* =================================================================
               Table with Column Filtering
            ================================================================= */

            var $table5 = jQuery("#table-5");

            var table5 = $table5.DataTable({
                "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
                //searching: false,
                //paging: false,
                "sDom": 'rtlfip'//,
                //info: false
            });

            // Setup - add a text input to each footer cell
            $('#table-5 thead th').each(function () {
                var title = $('#table-5 thead th').eq($(this).index()).text();

                if ($(this).index() == 0) {
                    $(this).html('<input type="text" class="form-control" placeholder="' + title + '" />');
                }
                else if ($(this).index() == 1) {
                    $(this).html('<input type="text" class="form-control" placeholder="' + title + '" />');
                }
                else if ($(this).index() == 2) {
                    $(this).html('<input type="text" class="form-control" placeholder="' + title + '" />');
                }
                else if ($(this).index() == 3) {
                    $(this).html('<input type="text" class="form-control" placeholder="' + title + '" />');
                }
                else if ($(this).index() == 4) {
                    $(this).html('<input type="text" class="form-control" placeholder="' + title + '" />');
                }
            });

            // Apply the search
            table5.columns().every(function () {
                var that = this;
                if (this.index() > -1) {
                    $('input', this.header()).on('keyup change', function () {
                        if ($(this).prop('id') == 'example-date-input') {
                            var value = '';
                            if (this.value.split('-').length == 3) {
                                var day = this.value.split('-')[2];
                                var month = this.value.split('-')[1];
                                var year = this.value.split('-')[0];
                                value = month + '/' + day + '/' + year;
                            }
                            if (that.search() !== value) {
                                that
                                    .search(value)
                                    .draw();
                            }
                        }
                        else {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        }
                    });
                }
            });


        });
    </script>
}
